@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --primary: hsl(0,100%,50%);
  --secondary: #363636;
  --extra: rgb(8,8,8);
}
body {
  margin: 0;
  padding: 20px;
  font-family: "Inter", sans-serif;
  background: var(--secondary);
}
* {
  color: #fff;
  margin: 0;
}

/* Layouts */

div.root-layout {
  margin: 0;
  padding: 0;
  width: 100%;
}

header nav {
  background-color: #333131;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
}

header nav div {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

header nav div.item1 div.menu {
  display: none;
}

header nav div a {
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
}

header nav div a.active{
  background-color: var(--primary);
}

header nav div a:hover{
  background-color: var(--primary);
}

header nav div img {
  width: 120px;
}

header nav div.register a {
  background-color: var(--primary);
  box-sizing: border-box;
  padding: 12px 20px;
  border-radius: 4px;
}

/* Home Component */

/*1.  Home Text */
div.home {
  margin-left: 33%;
  margin-right: 33%;
  margin-top: 10%;
}

div.home div p.h4f {
  font-size: 70px;
  font-weight: 600;
}

div.home div {
  margin-top: 10%;
}

div.home div p {
  text-align: center;
  font-size: 20px;
  max-width: max-content;
}

div.home div.home-text-links {
  display: flex;
  justify-content: space-around;
  gap: 5px;
}

div.home div a {
  text-decoration: none;
  box-sizing: border-box;
  padding: 12px 20px;
  border-radius: 4px;
}

div.home-text-links .home-text-link-1 {
  background-color: var(--primary);
}

div.home-text-links .home-text-link-2 {
  background-color: #fff;
  color: black;
}

/* 2. Event Info */

div.event-info {
  margin-top: 15%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.event-info-piece {
  display: flex;
  border: 1px solid white;
  width: 350px;
  height: 100px;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.event-info-piece img {
  height: 4em;
  width: 4em;
}

/* About Page */

/* 1. About Text */

div.about-text {
  margin: 7%;
}

div.about-text h2{
  margin-bottom: 1%;
}

div.about-text p {
  margin-bottom: 2%;
}

/* 2. About Event Details */

div.event-details {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.event-detail {
  display: flex;
  border: 1px solid white;
  width: 220px;
  height: 100px;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.event-detail img {
  height: 4em;
  width: 4em;
}

/* Sponsor Us */

div.sponsor-form {
  margin: 8% 30% auto 30%;
}

.form-control {
  margin-bottom: 1em;
}

.form-control label {
  display: block;
  margin-bottom: 0.5em;
}

div.name-fields {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

div.name-fields div input {
  width: 270px;
}

.form-control input {
  display: block;
  width: 100%;
  margin-bottom: 1em;
  border: 1px solid #666;
  padding: 10px;
  box-sizing: border-box;
}

div.sponsor-form form button {
  background-color: var(--primary);
  box-sizing: border-box;
  padding: 17px 30px;
  border-radius: 4px;
  box-shadow: none;
}

/* FAQ Component */

div.faq {
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
  background: rgb(72, 97, 97);
  /* color: #363636; */
  padding: 30px;
}

div.faqs details summary {
  font-size: large;
}

div.question {
  line-height: 2.5em;
}

/* CORE TEAM */

div.core-team {
  display: block;
}

div.core-team-title {
  margin-top: 8%;
  font-size: 40px;
  margin-left: 35%;
  margin-right: 35%;
}

div.core-team-members {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  width: 100%;
  margin-top: 5%;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background: #fff;
  padding-top: 70px;
  padding-bottom: 70px;
}

div.core-team-member {
  display: block;
  border-radius: 5px;
}

div.core-team-member img {
  width: 250px;
  height: 300px;
  border-radius: 4px;
}

div.core-team-member div {
  margin-left: 10%;
  margin-top: 5%;
}

div.core-team-member div p {
  color: black;
  line-height: 2em;
  font-weight: 600;
}

div.core-team-member div p.red {
  color: var(--primary);
}

/* REGISTER PAGE */

div.register {
  display: flex;
  justify-content: center;
  /* margin-top: 5%; */
}

div.register form {
  margin-top: 5%;
}

.form-control {
  margin-bottom: 1em;
}

.form-control label {
  display: block;
  margin-bottom: 0.5em;
}

div.name-fields {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

div.name-fields div input {
  width: 270px;
}

.form-control input {
  display: block;
  width: 100%;
  margin-bottom: 1em;
  border: 1px solid #666;
  padding: 10px;
  box-sizing: border-box;
  color: black;
} 

div.register form button {
  background-color: var(--primary);
  box-sizing: border-box;
  padding: 17px 30px;
  border-radius: 4px;
  box-shadow: none;
}

div.red {
  color: var(--primary);
}

@media only screen and (max-width: 768px) {

  :root {
    --primary: rgb(155, 219, 58);
    --secondary: #363636;
    --extra: rgb(8,8,8);
  }
  

/* LAYOUT */

  header nav {
    background-color: #333131;
    height: fit-content;
    display: block;
    width: 100%;
    margin-bottom: 23%;
  }

  header nav div.item1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header nav div.item1 div.menu {
    display: block;
  }

  header nav div.navlinks, header nav div.register {
    display: none;
  }

  header nav div.navlinks.mobile {
    display: grid;
    margin-top: 5%;
    position: relative;
    z-index: 999;
  }

  header nav div.navlinks.mobile a:not(:first-child) {
    padding: 0;
    margin-top: -40%;
  }

  /* HOME */

  /* 1. HomeText */

  div.home {
    display: block;
    margin: auto;
  }

  div.home div p.h4f {
    font-size: 40px;
    text-align: center;
    margin-left: 10%;
  }

/* 2. EVENTINFO COMPONENT */

  div.event-info {
    display: block;
    margin-left: 10%;
  }

  div.event-info-piece {
    display: flex;
    justify-content: flex-start;
    width: 80%;
    margin-bottom: 5%;
    padding: 5%;
  }
  
/* ABOUT COMPONENT */

/* 1. Eventdetails component */

  div.event-details {
    display: block;
    margin-left: 12%;
  }

  div.event-detail {
    display: flex;
    justify-content: flex-start;
    padding: 4%;
    margin-bottom: 5%;
  }


  /* SPONSOR FORM */

  div.sponsor-form {
    margin: auto;
    width: 100%;
  }

  div.sponsor-form h2 {
    text-align: center;
    margin: 10% auto 5% auto;
    font-size: 40px;
    text-transform: uppercase;
  }

  div.name-fields {
    display: block;
  }

  div.name-fields div input {
    width: 100%;
  }

  /* REGISTER COMPONENT */

  div.register {
    display: block;
  }

  div.register h2 {
    text-align: center;
    margin-bottom: 10%;
  }

  div.red {
    color: hsl(0,100%,50%);
  }

  input#firstname, input#lastname {
    margin-bottom: 0%;
  }

  div.name-fields div {
    margin-bottom: 5%;
  }

  /* FAQS */

  div.faq {
    margin: auto;
    /* overflow-x: scroll; */
  }

  /* ABOUT COMPONENT */

  div.about-text {
    margin: auto;
  }

  /* CORE TEAM COMPONENT */

  div.core-team .core-team-title {
    margin: auto auto 15% auto;
    width: fit-content;
  }
  
  div.core-team .core-team-title h2 {
    font-size: 30px;
    text-align: center;
  }

  div.core-team-member img {
    width: 150px;
    height: 180px;
    border-radius: 4px;
  }

  .core-team-member div {
    margin: auto;
    width: fit-content;
  }

}
